.constr {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list__scroll {
  composes: list;
  height: 50vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.list__scroll .item {
  justify-content: flex-start;
}

.list__scroll::-webkit-scrollbar {
  width: 8px;
  position: absolute;
}

.list__scroll::-webkit-scrollbar-track {
  background: #2F2F37;
}

.list__scroll::-webkit-scrollbar-thumb {
  background: #8585AD;
}

.order {
  display: flex;
  justify-content: flex-end;
}

.total__price {
  display: flex;
  align-items: center;;
}

.total__price span {
  margin-right: 8px;
}

.total__price svg {
  width: 33px;
  height: 33px;
}
