body {
  background: #131316;
}

.container {
  max-width: 1280px;
  margin: auto;
  box-sizing: border-box;
}

.main__container {
  display: flex;
  justify-content: space-between;
}

.link {
  color: #000;
  text-decoration: none;
}
